# Python cache and bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
ENV/
.venv/
.idea/
.vscode/

# OS files
.DS_Store

# QR code images
qrcode.png

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log files
*.log

# Test output
htmlcov/
coverage.xml
*.cover

# pipenv
Pipfile.lock

# mypy
.mypy_cache/
.dmypy.json

# pytest
.cache/